#title{
    box-sizing:border-box;
    margin:0;
    padding:0;
    background: #ff4c68;
 
   

}


.row{
    margin:0;
    
}

.container-fluid{
    padding:0 20%;
   

}

.icon{
    font-size:3rem;
    color:white;
    text-decoration:none;
}

.row1{
    margin: 3rem;
}
.col1{
    text-align:center;
}
.color{
    color:#F4411A;
    font-size: 3rem;

}
.color:hover{
    color: #F0174E ;
}

h4{
    font-size:1.5rem;
    font-weight:bold;
}

.img-fluid{
   
    
    
}

.imgD{
    position: relative;
    
    z-index: 1;
}
#feature{
    
    position: relative;
    
    z-index: 2;
    padding: 10px;
    background: #fff;
    
    
}




#testimonials{
    background:  #ff4c68;
    
    
}
.col-sm p{
    color: #D7DBDD;
}
.testimonial-text{
    color:#fff;
    text-align:center;
    margin-top:3rem;


}

.img-container{
    text-align:center;
}

.profile{
    width:3rem;
    height:3rem;
    border-radius: 100%;

}
em{
    font-style: italic;
    font-weight: bold;
    margin-left: 1rem;
}
#press{
    background: #ff4c68;
    text-align: center;
    padding: 3%;
}
#press img{
    width: 15%;
    margin: 20px 20px 50px;
}
#pricing{
    text-align:center;
    padding: 5%;
}
.price-title{
    font-weight:bold;
    font-size:4rem;
}
#press p{
    font-size:1rem;

}
.dog-type{
    font-weight:bold;
    font-size: 2rem;
}
.price{
    font-weight: bold;
    font-size:3rem;
}
.col{
    margin-bottom: 2rem;
}

.btn-primary{
    background:black;
    width: 100%;
    max-width: 400px;
    height: auto;
    

}
.btn-primary:hover{
    background:#fff;
    color: black;
}
#cta{
    padding: 0% 20%;
    text-align:center;
    background: #ff4c68;
    padding: 8rem;
}
.call-title{
    color: #fff;
    font-size:  3rem;
    font-weight: bold;
    
}
.btn1{
    width:50%;
    margin: 2rem 2rem;
}
#footer{ 
    padding:0 20%;
    text-align:center;


}
.social-contain{
    margin: 1.5rem 1.5rem;
}
.fab{
    margin: 0.5rem;
}

.card-body li{
    list-style-type: none;
}
.card-body ul{
    padding-left: 0;
}
.display-1 {
    font-size: calc(1.625rem + 4.5vw);
    font-weight: 400;
    line-height: 1.2;
}

@media (max-width:780px){
    .container-fluid {
        padding: 0 10%;
    }
    
   .call-title{  
        font-size:  2rem;
   }
   #press img {
    width: 25%;
    margin: 10px 10px 30px;
}
   #cta {
    
    padding: 2rem;
   }
    .imgD{
        width:15rem;
        height:15rem;
    }
    .testimonial-text {
        color: #fff;
        text-align: center;
        margin-top: 3rem;
        font-size: 1rem;
    }
   
        
    
    .feature{
        position: static;
       
    }
    .btn1 {
        padding-top:0.25rem;
        padding-bottom:0.25rem;
        margin: 1rem 0.5rem;
    }
    .price-title {
        font-size: 2rem;
    }
    #pricing {
        text-align: center;
        padding: 2%;
    }
    .card-body {
        flex: 1 1 auto;
        padding: 0.5rem 0.5rem;
    }
    .price {
        
        font-size: 1rem;
    }
    .card-body li p{
        font-size: 0.75rem;
        margin-bottom: 8px; 
        
    }
    
    .btn-primary {
        background: black;
        width: 100%;
        max-width: 200px;
        height: auto;
    }
    h4 {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 4;
    }
    .fa-check-circle:before {
        content: "\f058";
        font-size: 1.5rem;
    }
    .fa-dot-circle:before {
        content: "\f192";
        font-size: 1.5rem;
    }
    .col1 {
        text-align: center;
        padding: 0;
    }
    .fa-heart:before {
        content: "\f004";
        font-size: 1.5rem;
    }
}
    

}
